/* -float */
.left {
	float: left;
}
.right {
	float: right;
}

/* =clear */
.clear {
	clear: both;
}
.clearFix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearFix {
	display: inline-block;
}
html[xmlns] .clearFix {
	display: block;
}
* html .clearFix {
	height: 1%;
}

/* =border */
.borderTop {
	border-top: 1px solid #333;
}
.borderBottom {
	border-bottom: 1px solid #333;
}
.borderLeft {
	border-left: 1px solid #333;
}
.borderRight {
	border-right: 1px solid #333;
}

/* =margin */
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}

.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}

.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}

.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}

/* =padding */
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}

.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}

.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}

.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}

/* =color */
.white {
	color: #FFF;
}
.red {
	color: #E41B17;
}
.green {
	color: #59E817;
}

/* =font */
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}

/* =font-size */
.tinyText {
	font-size: .7em;
}
.smallText {
	font-size: .85em;
}
.bigText {
	font-size: 1.2em;
}
.hugeText {
	font-size: 1.5em;
}

/* =background */
.blackBg {
	background-color: #000;
}
.lightGreyBg {
	background-color: #DDD;
}
.greyBg {
	background-color: #999;
}
.darkGreyBg {
	background-color: #333;
}